#search
{
	display: grid;
	margin-bottom: 24px;
}

#result
{
}

.line
{
	display: flex;
	flex-direction: column;
	margin-bottom: 6px;
}

.hidden
{
	display: none;
}

@media screen and (min-width: 568px)
{
	.line
	{
		display: grid;
		grid-template-columns: 2fr 4fr;
	}
}
